* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 24px;
    margin: 0 25px;
}

.table-container {
    display: flex;
}

table {
    padding: 0 50px;
    border-right: 2px black solid;
    border-top: 2px black solid;
}

tr {
    display: flex;
    margin: 5px;
}

td {
    padding: 0 10px;
}

input[type='text'] {
    width: 50px;
}

input[type='color'] {
    width: 20px;
}
